
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(100, 100, 171);
}

.container {
    max-width: 710px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#accountDetails {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#transactionHistory {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* Style for transaction history entries */
.transaction-entry {
    margin-bottom: 5px;
    color: blue;
    text-align: left;
    font-size: smaller;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name{
    color: blue;
    text-align: center;
    justify-self: center;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#ceckbalance {
    background-color:blue;
    padding: 10px;
    border: 2px;
    border-radius: 6px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}